[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
easyocr = "*"
pysimplegui = "*"
pillow = "*"
numpy = "*"
pyperclip = "*"

[dev-packages]

[requires]
python_version = "3.7"
